.card {
  background-color: rgb(240, 240, 240, 0.1) !important;
  backdrop-filter: blur(10px);
  padding: 12px;
  width: auto;
  margin: 12px;
  overflow: hidden;
  color: rgb(240, 240, 240);
  border-radius: 10px;
  z-index: 999;
}

.card::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  background-color: rgb(240, 240, 240, 0.05) !important;
  transition: all 0.5s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.card:hover::before {
  width: 100%;
}

.card .card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.card .card-text {
  font-size: 0.9rem;
}

.card .card-footer {
  border: 0;
}

.card .card-footer a {
  position: relative;
  text-decoration: none;
  color: var(--app-color-white);
  font-size: 1.35rem;
  z-index: 9999;
}
