.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.navigation-menu li a {
  color: rgb(240, 240, 240, 0.6);
  font-size: 50px;
  font-weight: 200;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.navigation-menu li a:hover {
  color: var(--app-color-white-hover);
}
